<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
        <link rel="stylesheet" href= "{{ url_for('static', filename='dark.css') }}">
    </head>
    <body>
        <center><h1>HOME</h1></center>
        <center>
            <h3>Go to win</h3>
            <a href="{{ url_for('ironclad') }}">
                <button>ironclad</button>
            </a>
            <a href="{{ url_for('silent') }}">
                <button>silent</button>
            </a>
            <a href="{{ url_for('regent') }}">
                <button>regent</button>
            </a>
            <a href="{{ url_for('necrobinder') }}">
                <button>necrobinder</button>
            </a>
            <a href="{{ url_for('defect') }}">
                <button>defect</button>
            </a>
        </center>
    </body>
</html>
