<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WINNING DECK</title>
        <link rel="stylesheet" href= "{{ url_for('static', filename='dark.css') }}">
    </head>
    <body>
        <center><h1>Winning Deck</h1></center>
        <div class="deckbox">
            {{ deck }}
        </div>
        <div class="deckbox">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
            <img src="{{ user_pic }}" height="342" width="280">
        </div>
    </body>
</html>
